
   <!-• templates/index.html -->
   <!DOCTYPE html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <title>Live Chat</title>
       <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
       <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   </head>
   <body>
       <h1>Live Chat</h1>
       <div id="messages"></div>
       <input id="message" autocomplete="off" /><button onclick="sendMessage()">Send</button>

       <script type="text/javascript">
           $(document).ready(function() {
               $.getJSON('/messages', function(data) {
                   data.forEach(function(msg) {
                       $('#messages').append($('<div>').text(msg.text));
                   });
               });
           });

           var socket = io();

           socket.on('message', function(msg){
               $('#messages').append($('<div>').text(msg));
           });

           function sendMessage() {
               var message = $('#message').val();
               socket.send(message);
               $('#message').val('');
           }
       </script>
   </body>
   </html>
   
